@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;1,400&display=swap');

/*CSS do Portifolio*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto Mono, Arial, Helvetica, sans-serif;
  color: white;
 }

body html{
  width: 100%;
  height: 100vh;
}

/*  ***************************************************************************** */
/*Estilização menu de navegação */
nav#nav{
  background-image: url(/assets/images/back1.jpg);

  width: 100%;
  height: 3rem;
  padding: 0px 5%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;

  box-shadow: 2px 2px 12px white;
}

ul#menu{
  display: flex;
  list-style: none;
}

nav a.logo {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

ul#menu li a{
  display: flex;
  margin:1rem; 
  font-size: 1.2rem;
  font-weight: bold;
  transition: .2s ease-in-out;
  text-decoration: none;
  }

ul#menu li a:hover{
  color: white;
  transform: scale(1.1);
}

/*  ***************************************************************************** */
/*estilo da imagem de fundo do home*/
section#home{
  background-color: #0e0e2b;
  background-image: url(/assets/images/back1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
}

div img#imagem{
  display: flex;
  width: 30%;
  margin-top:8rem;
  margin-left: 10rem;
  background-color: #4747bb;
  box-shadow: 0 0 1em white;
}

/*  ***************************************************************************** */
/*estilo do texto do Home*/
section#home h1{
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding-top: 8rem;
  margin-left: 2rem;
}

section#home h2{
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 2rem;
}

/*Links do inicio */
section.button{
  margin-top: 2rem;
  display: flex;
  height: 2.5rem;
  font-weight: bold;
  font-size: 0.9rem;
  margin-left: 3rem;
  margin-top: 0;
}

section.button a{
  text-decoration: none;
  text-align:center;
  width: 12rem;
  margin: 2rem;
  padding: 1rem 4rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out;
  background-color: #0e0e2b80;
}

section.button a:hover{
  
  color: #ffffff;
  transform: scale(1.1);
}

/*  ***************************************************************************** */
/*estilo da seção Sobre*/
section#about{
  padding-top: 2rem;
  background: rgb(38,13,35);
  background: linear-gradient(180deg, rgba(38,13,35,1) 0%, rgba(14,14,43,1) 50%, rgba(14,14,43,1) 100%);
  text-align: center;
  width: 100%;
  
  /* align-items: center; */
  
 }

 section#about h2{
  padding-bottom: 2rem;
 }

 section#about h2,p{
  font-size: 1.5rem;
  text-align: center;
  margin-left: 9rem;
  margin-right: 9rem;
 }

/*links icones de contato*/
 section#contact{
  background-color: #0e0e2b;
  padding-top: 5rem;
  text-align: center;
  padding-bottom: 3rem;
}

 section#contact #link-icons{
  display: flex;
  justify-content: space-evenly;
  
   }

 div#link-icons img{
  width: 20%;
  margin: 2rem;
  transition: transform .3s ease-in-out;
 }

 div#link-icons img:hover{

  transform: scale(1.1);
  transition: all 0.3s;
}
 
 /*  ***************************************************************************** */
/*estilo secao projetos*/
section#project{
  padding-top: 3rem;
  background-color: #0e0e2b;
  text-align: center;
  width: 100%;
  align-items: center;
}

section#cards{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 90%;
  margin: 0 auto;
}

.card{
  width: 16rem;
  height: 26rem;
  margin: 2rem;
  box-shadow: 0 0 1em white;
  border-radius: 0.3rem;
  transition: transform .3s ease-in-out;
  background-color: white;
 }

.card img{
  width: 80%;
  margin-bottom: 0.3rem;
  /*centralizar imagem display e margin*/
  display: flex;
  margin: 0 auto;
}

.card h3{
  font-size: 1.2rem;
  margin: 1rem 0 1rem 0;
  text-align: center;
  color: #0e0e2b;
  
}

.card p{
  font-size: 1.1rem;
  display: flex;
  /* text-align: justify; */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #0e0e2b;
  /* background-color: black; */
}

a.btnProj{
  color: white;
  text-decoration: none;
  border: 1px solid white;
  font-size: 1.2rem;
  width: 12rem;
  height: auto;
  display: flex;
  margin: 0 auto;
  background-color: #0e0e2b;
  justify-content: center ;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border-radius: 1.2rem;
  align-items: flex-end;
  /* padding-top: 1rem; */
  /* position: relative; */
}

a.btnProj:hover{
    color: white;
    /* background-color: #c0e90c; */
    transform: scale(1.1);
    transition: all 0.3s;
}


/*  ***************************************************************************** */
/*estilo secao tecnologias*/
section#tecnology{
  background-color: #0e0e2b;
  text-align: center;
  padding: 2rem;
}

section#tecnology #tech-icons{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

div#tech-icons img{
  width: 4rem;
  margin:2rem;
}

/*  ***************************************************************************** */
/*estilo footer*/
footer{
  background-color: #0e0e2b;
  text-align: center;
  font-size: 0.8rem;
}
 
/********************************************************************************/
/* mediaquery */
@media screen and (max-width: 800px){
  div img#imagem{
    display: none;
  }

  section#about h2,p{
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right:2rem;
  }

  div#link-icons img{
    width: 30%;
  }

  div#tech-icons img{
    width: 10%;
    margin:2rem;
  }

  footer{
    font-size: 0.5rem;
  }
  }


 