@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;1,400&display=swap');

/*CSS do Portifolio*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto Mono, Arial, Helvetica, sans-serif;
  color: white;
 }

body html{
  width: 100%;
  height: 100vh;
}

/*  ***************************************************************************** */
/*Estilização menu de navegação */
nav#nav{
  background-image: url(../images/back1.jpg);

  width: 100%;
  height: 3rem;
  padding: 0px 5%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;

  box-shadow: 2px 2px 12px white;
}

ul#menu{
  display: flex;
  list-style: none;
}

nav a.logo {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

ul#menu li a{
  display: flex;
  margin:1rem; 
  font-size: 1.2rem;
  font-weight: bold;
  transition: .2s ease-in-out;
  text-decoration: none;
  }

ul#menu li a:hover{
  color: white;
  transform: scale(1.1);
}

div.btn-menu{
  cursor: pointer;
  display: none;
}

/*  ***************************************************************************** */
/*estilo da imagem de fundo do home*/
section#home{
  background-color: #0e0e2b;
  background-image: url(https://github.com/vanderleimiguel/portifolio/tree/main/assets/images/back1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
}

div img#imagem{
  display: flex;
  width: 30%;
  margin-top:8rem;
  margin-left: 10rem;
  background-color: #4747bb;
  box-shadow: 0 0 1em white;
}

/*  ***************************************************************************** */
/*estilo do texto do Home*/
section#home h1{
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding-top: 8rem;
  margin-left: 2rem;
}

section#home h2{
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 2rem;
}

/*Links do inicio */
section.button{
  margin-top: 2rem;
  display: flex;
  height: 2.5rem;
  font-weight: bold;
  font-size: 0.9rem;
  margin-left: 2.5rem;
  margin-top: 0;
}

section.button a{
  text-decoration: none;
  text-align:center;
  width: 12rem;
  margin: 2rem;
  padding: 1rem 4rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out;
  background-color: #0e0e2b80;
}

section.button a:hover{
  
  color: #ffffff;
  transform: scale(1.1);
}

/*  ***************************************************************************** */
/*style section about*/
section#about{
  width: 100%;

  background: rgb(38,13,35);
  background: linear-gradient(180deg, rgba(38,13,35,1) 0%, rgba(14,14,43,1) 50%, rgba(14,14,43,1) 100%);

  padding-top: 3rem;
  text-align: center;
}

section#about h2{
  padding-bottom: 2rem;
 }

section#about h2,p{
  font-size: 1.5rem;

  text-align: center;
  margin-left: 9rem;
  margin-right: 9rem;
 }

/*  ***************************************************************************** */
/*style section contact*/
section#contact{
  background-color: #0e0e2b;

  padding-top: 5rem;
  padding-bottom: 3rem;
  text-align: center;
}

div#link-icons{
  display: flex;
  justify-content: space-evenly;
}

div#link-icons img{
  width: 20%;
  margin: 2rem;
  transition: transform .3s ease-in-out;
}

div#link-icons img:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}
 
 /*  ***************************************************************************** */
/*style section projects*/
section#project{
  background-color: #0e0e2b;

  padding-top: 3rem;
  text-align: center;
  align-items: center;

  width: 100%;
}

div#cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0 auto;

  width: 100%;
  max-width: 90%;
}

div.card{
  box-shadow: 0 0 1em white;
  border-radius: 0.3rem;
  transition: transform .3s ease-in-out;
  background-color: white;

  width: 16rem;
  height: 26rem;

  margin: 2rem;
}

div.card img{
  width: 80%;

  margin-bottom: 0.3rem;
  display: flex;
  margin: 0 auto;
}

div.card h3{
  font-size: 1.2rem;
  margin: 1rem 0 1rem 0;
  color: #0e0e2b;

  text-align: center;  
}

div.card p{
  font-size: 1.1rem;
  color: #0e0e2b;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

a.btnProj{
  color: white;
  text-decoration: none;
  border: 1px solid white;
  font-size: 1.2rem;
  background-color: #0e0e2b;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border-radius: 1.2rem;

  width: 12rem;
  height: auto;

  display: flex;
  margin: 0 auto;
  justify-content: center ;
  align-items: flex-end;
}

a.btnProj:hover{
  color: white;
  transform: scale(1.1);
  transition: all 0.3s;
}


/*  ***************************************************************************** */
/*style section tecnology*/
section#tecnology{
  background-color: #0e0e2b;

  text-align: center;
  padding: 2rem;
}

div#tech-icons{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

div#tech-icons img{
  width: 4rem;
  margin:2rem;
}

/*  ***************************************************************************** */
/*style footer*/
footer{
  background-color: #0e0e2b;

  text-align: center;
  font-size: 0.8rem;
}
 
/********************************************************************************/
/* mediaquery */
@media (max-width: 920px){

  div.btn-menu{
    display: block;
  }

  ul#menu{
    position: fixed;
    top: 50px;
    left: -100%;
    background-color: #0e0e2b;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  ul#menu.open{
    left: 0;
  }

  ul#menu li{
    width: 100%;
    margin: 30px 0;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  ul#menu li a {
    font-size: 23px;
  }

  ul#menu li a.active,
  ul#menu li a:hover{
    background: none;
    color: white;
  } 

  div img#imagem{
    display: none;
  }

  section#about h2,p{
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right:2rem;
  }

  div#link-icons img{
    width: 30%;
  }

  div#tech-icons img{
    width: 10%;
    margin:2rem;
  }

  footer{
    font-size: 0.5rem;
  }
}

@media (max-width: 650px){

  section#home h1{
    text-align: center;
    font-size: 2rem;
  }
    
  section#home h2{
    text-align: center;
    font-size: 1rem;
  }
    
    
  section.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
 